
<nav class="nav"> 
    <div class="logo-container">logo</div>
    <section class="container-options">
        <div class="bubble">Tomar nota</div>
        <div class="bubble">tomar orden</div>
        <div class="bubble">cambiar de mesa</div>
    </section>
</nav>

<section class="container-desk">
    <div class="desk-card">
        <section class="section-desk">
            <p>icono</p>
            <p>mesa 1</p>
        </section>
    </div>
    <div class="desk-card">
        <section class="section-desk">
            <p>icono</p>
            <p>Mesa 2</p>
        </section>
    </div>
    <div class="desk-card">
        <section class="section-desk">
            <p>icono</p>
            <p>Mesa 3</p>
        </section>
    </div>
    <div class="desk-card">
        <section class="section-desk">
            <p>icono</p>
            <p>mesa 1</p>
        </section>
    </div>
    <div class="desk-card">
        <section class="section-desk">
            <p>icono</p>
            <p>mesa 1</p>
        </section>
    </div>
    <div class="desk-card">
        <section class="section-desk">
            <p>icono</p>
            <p>mesa 1</p>
        </section>
    </div>
    <div class="desk-card">
        <section class="section-desk">
            <p>icono</p>
            <p>mesa 1</p>
        </section>
    </div>
    <div class="desk-card">
        <section class="section-desk">
            <p>icono</p>
            <p>mesa 1</p>
        </section>
    </div>
</section>
